body {
    height: 90vh;
    background-color: #F8C8DC;
}

#ans {
    display: none;
}

#ansvideo{
    visibility: hidden;
}

#novideo{
    visibility: hidden;
}

#noButton, #yesButton {
    position: absolute;
    transition: 0.5s;
}

#noButton {
    margin-left: 150px;
}

#yesButton {
    margin-right: 150px;
}

.header_text {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: calc(20px + 2vw); /* Responsive font size */
}

.text {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: calc(16px + 1vw); /* Responsive font size */
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff8e9f;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .header_text, .text {
        text-align: left; /* Align text to the left on small screens */
        margin-left: 10px; /* Add some margin to the left */
    }

    .qrimage {
        max-width: 100%; /* Use full width for small screens */
        margin: 0 auto; /* Center align */
    }

    .gif_container {
        margin-left: 0;
    }

    #noButton, #yesButton {
        margin-left: 10px; /* Adjust button positions for small screens */
        margin-right: 10px;
    }

    .buttons {
        margin-left: 10px; /* Adjust margin for buttons */
    }
}
